.container {
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 6%;
    overflow: hidden;
    height: 500px;
    width: 300px;
    border: solid 1px grey;
    font-family: 'Questrial', sans-serif;
}

.screen {
    height: 100%;
    width: 100%;
}

.half {
    width: 100%;
}

.top {
    height: 44%
}

.bottom {
    height: 56%;
    line-height: 100%;
    text-align: center;
}

.index {
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    color: #F5F5F5;
}

.title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.description {
    margin-top: 10px;
    color: grey;
    text-align: center;
}

.icon {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    color: white;
}

.inline-block {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}